<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiachanjin.test" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainFragmentActivity" >
        </activity>

        <service
            android:name=".MyService"
            android:process=":remote" >
            <intent-filter>
                <action android:name=".IMyAidlInterface" />
            </intent-filter>
        </service>

        <activity
            android:name=".MyActionBarActivity"
            android:parentActivityName=".MainActivity" >
        </activity>

        <service android:name=".MyIntentService" >
            <intent-filter>
                <action android:name=".MyIntentService" ></action>
            </intent-filter>
        </service>

        <!--<receiver android:name=".MyReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.TIME_TICK" ></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>
